{
  "solutionName": "Reactive Backup",
  "rootCodeDirectory": "C:\\dev\\github\\pyramid",
  "includeRootFiles": true,
  "includedSubdirectories": [
    ".claude",
	".git",
	".vite",
	"public",
	"scripts",
	"src",
    "test"
  ],
  "backupRootDirectory": "C:\\dev\\github\\_BACKUPS\\pyramid",
  "checkForCodeChangesIntervalMinutes": 15,
  "logFileName": "backup.log",
  "timestampFormat": "yyyyMMdd - hh:mm tt"
}
