{
  "rootCodeDirectory": "C:\\dev\\github",
  "rootBackupDirectory": "C:\\dev\\github\\_BACKUPS",
  "logLevel": "info",
  "backupLevel": "repo-parent",
  "includeRootFiles": true,
  "includedRepoFolders": ["aardvark"],
  "excludedRepoFolders": [],
  "includedRepoSubfolders": [],
  "excludedRepoSubfolders": [
    "node_modules",
    "dist"
  ],
  "checkForCodeChangesIntervalMinutes": 15,
  "timestampFormat": "yyyyMMdd - hh:mm tt"
}
